{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h5>{% if editando %}Editar{% else %}Adicionar{% endif %} Grupo</h5>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.nome.label_tag }}
            <input type="text" name="nome" id="id_nome" class="form-control"
            value="{{ form.nome.value|default:'' }}" list="sugestoes">
            <datalist id="sugestoes">
                {% for nome in sugestoes %}
                    <option value="{{ nome }}">
                {% endfor %}
            </datalist>
            {% if form.nome.errors %}
                <div class="text-danger small">{{ form.nome.errors }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            {{ form.prioridade.label_tag }}
            {{ form.prioridade }}
            {% if form.prioridade.errors %}
                <div class="text-danger small">{{ form.prioridade.errors }}</div>
            {% endif %}
        </div>

        <button class="btn btn-primary">Salvar</button>
        <a href="{% url 'registro' registro.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
